@media only screen and (max-width: 450px){
    .infos2{
        width: 100%;
        height: 200px;

        margin-bottom: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .infos2 .container{
        width: 80%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        color: #3f3f3f;
        font-size: 14pt;
        letter-spacing: 1px;
    }
}